<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over" (click)="drawer.toggle()">


        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-icon-button color="primary" class="close-button">
                <mat-icon >close</mat-icon>
              </button></mat-list-item>
            <mat-list-item role="listitem" *ngFor="let category of categories">{{category}}</mat-list-item>

        </mat-list>

    </mat-drawer>

    <mat-toolbar class="toolbar">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
        <span class="store-name">CLOTHESSTORE</span>

        <button mat-icon-button class="shoppin-button">
        <mat-icon matBadge="1">shopping_cart</mat-icon>
      </button>

    </mat-toolbar>
    <mat-toolbar class="toolbar">
        <app-search-bar style="width: 100%;"></app-search-bar>
    </mat-toolbar>
</mat-drawer-container>