<app-desktop-header (propagate)="processPropagate($event)"></app-desktop-header>
<app-categories></app-categories>
<app-products-list [products]="products" *ngIf="isSearchText"></app-products-list>
<div *ngIf="!isSearchText">
    <app-main-carousel></app-main-carousel>
    <app-category-cards></app-category-cards>
    <div>
        <h1 style="text-align: center;">PRODUCTOS MÁS BUSCADOS</h1>
    </div>
    <table>
        <tr>
            <td class="arrow">
                <button mat-button class="button-ios">
                    <mat-icon>arrow_back_ios_new</mat-icon>
                  </button>
            </td>
            <td class="cards-container">
                <mat-grid-list cols="4" *ngIf="products.length > 0">
                    <mat-grid-tile colspan="1" rowspan="2" *ngFor="let product of [0,1,2,3];let i = index">
                        <app-product-card [title]="products[i].title" [img]="products[i].thumbnail" [price]="products[i].price" [promotionPrice]="products[i].price"></app-product-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </td>
            <td class="arrow">
                <button mat-button class="button-ios">
                    <mat-icon>arrow_forward_ios</mat-icon>
                  </button>
            </td>
        </tr>


    </table>


</div>

<img mat-card-image src="/assets/img/footer-desktop.png">