.button-ios {
    background-color: white;
    border: 1px;
}

table {
    width: 100%;
    background-color: white;
}

.arrow {
    width: 2%;
}

img {
    width: 100%;
}

.sidenav {
    padding: 60px;
}

.button-menu {
    background-color: white;
    border: white;
}

.container-search-bar {
    padding: 20px;
    background-color: white;
}

.container-category-card {
    margin-top: 20px;
}

.container-product-card {
    width: 79%;
}